<div class="scene" aria-hidden="true" data-scene>
  <div class="scene__halls">
    <img fetchpriority="high" decoding="async" src="assets/img/halls/h1.jpg" alt="" data-shot="assets/img/gen/pola-ball.jpg" data-theme="Императорский бал">
    <img decoding="async" src="assets/img/halls/h6.jpg" alt="" data-shot="assets/img/gen/pola-railway.jpg" data-theme="Железная дорога">
    <img decoding="async" src="assets/img/halls/h2.jpg" alt="" data-shot="assets/img/gen/pola-art.jpg" data-theme="Искусство">
    <img decoding="async" src="assets/img/halls/h5.jpg" alt="" data-shot="assets/img/gen/pola-safari.jpg" data-theme="Сафари">
    <img decoding="async" src="assets/img/halls/h7.jpg" alt="" data-shot="assets/img/gen/pola-naval.jpg" data-theme="Морской Петербург">
    <img decoding="async" src="assets/img/halls/h3.jpg" alt="" data-shot="assets/img/gen/pola-space.jpg" data-theme="Космос">
  </div>
  <span class="scene__shade"></span>
  <div class="scene__vf">
    <i class="scene__c scene__c--tl"></i><i class="scene__c scene__c--tr"></i><i class="scene__c scene__c--bl"></i><i class="scene__c scene__c--br"></i>
    <span class="scene__focus"></span>
    <span class="scene__hud"><b class="scene__rec"></b><span data-scene-count>01</span>/06<span class="scene__theme" data-scene-theme>Императорский бал</span></span>
  </div>
  <div class="scene__stack"></div>
  <img class="scene__photog" decoding="async" src="assets/img/gen/photographer.webp" alt="" width="815" height="1100">
  <span class="scene__burst"></span>
  <span class="scene__flash"></span>
</div>
